.card {
    position: relative;
    background-color: rgba(255,255,255,0.2);
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: rem(285px);
    flex: 0 0 rem(285px);
    width: rem(285px);
    font-size: 1rem;
    &::before {
        content: '';
        position: absolute;
        top: rem(285px);
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 0;
    }
    &__block-image {
        position: relative;
        margin: 1.5rem 1.5rem 0;
        padding: 0;
        flex: initial;
        max-width: none;
        box-sizing: border-box;
        &::before {
            content: '';
            width: 100%;
            height: 0;
            padding-bottom: calc(((494) / (350)) * 100%);
            position: relative;
            display: block;
        }
        img {
            position: absolute;
            top: 0;
        }
    }
    &__actions {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
        padding: 0;
    }
    &__body {
        position: relative;
        padding: 0 1.5rem 1.5rem 1.5rem;
        text-transform: uppercase;
        grid-area: text;
    }
    &__category {
        font-size: $card-category-fz;
        font-weight: $card-category-fw;
        line-height: 1;
        margin: 0.825rem 0 0;
    }
    &__title {
        font-size: $card-titre-fz;
        font-weight: $card-titre-fw;
        margin: 0.75rem 0 0;
        line-height: 1.2;
    }
    &__meta {
        font-size: $card-date-fz;
        font-weight: $card-date-fw;
        margin: 0 0 0.5rem;
    }
    &__items {
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            justify-content: space-between;
        }
    }
    &-item {
        &__icon{

        }
        &__title{
            text-transform: uppercase;
            font-weight: $fw-bold;
        }
        &__description{
            font-weight: $fw-regular;
            margin: 0 -0.5rem;
        }
    }

    &.card-article {
        max-width: 100%;
        width: 100%;
        background-color: white;
        height: 100%;
        &::before {
            content: none;
        }
        a.full-zone {
            z-index: 1;
        }
        .card__block-image {
            margin: 0;
            &::before {
                padding-bottom: calc((250 / 445) * 100%);
            }
            img {
                top: 0;
                position: absolute;
            }
        }
        .card__title {
            margin-top: 0.25rem;
        }
    }
    &.famille_produit_promo {
        .card__block-image {
            margin: 0 !important;
            height: 100%;
            overflow: hidden;
            &::before {
                content: none;
            }
            img {
                position: absolute !important;
                min-width: 1000%;
                min-height: 1000%;
                left: 50%;
                top: 50% !important;
                transform: translateX(-50%) translateY(-50%) scale(0.1);
                max-width: none !important;
            }
        }
        .card__body {
            display: none;
        }
    }
}


.slider--events {
    @at-root .wrapper-products,
    .wrapper--produit,
    .wrapper-related,
    & {
        .card {
            &[data-offre]:not([data-offre=""]) {
                background-position: lef top;
                background-size: 100% auto;
                background-repeat: no-repeat;
                .card__block-image {
                    padding: 0 2rem 1rem;
                    &::before {
                        content: none;
                    }
                    img {
                        position: relative;
                    }
                }
            }
            .card__offre {
                font-size: $card-category-fz;
                font-weight: $card-category-fw;
                color: white;
                margin-left: -2rem;
                margin-bottom: 1.75rem;
                text-transform: uppercase;
                &::before {
                  display: inline-block;
                  font-style: normal;
                  font-variant: normal;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  font-family: "Font Awesome 5 Free"; font-size: 1rem; font-weight: 900;
                  vertical-align: 0.1rem;
                  height: 1rem;
                  width: 2rem;
                  text-align: center;
                }
            }
            &[data-offre="parking"]{
                background-image: url(./../img/3.dgrad/fond-dgrad-cercles-violets.svg);
                .card__offre {
                    &::before {
                        content: "\f1ba";
                    }
                }
            }
            &[data-offre="restauration"]{
                background-image: url(./../img/3.dgrad/fond-dgrad-cercles-oranges.svg);        
                .card__offre {
                    &::before {
                        content: "\f2e7";
                    }
                }
            }
            &[data-offre="club-enfant"]{
                background-image: url(./../img/3.dgrad/fond-dgrad-cercles-verts.svg);        
                .card__offre {
                    &::before {
                        content: "\e006";
                    }
                }
            }
        }

    }
    @include full_width_section();
    .swiper-slide.card__desk {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        width: calc(285px * 3 + 4rem);
        transition: $transition-opacity;
        &:not(.swiper-slide-active) {
            opacity: 0.25;
        }
        .card {
            margin-bottom: 3rem;
        }
    }
}
.wrapper-related {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem($gutter * 4);
    position: relative;
    @media (min-width:$lg) {
        width: calc(285px * 3 + 4rem);
    }
    .slider--related {
        margin-top: 2rem;
        padding-top: 1rem;
        .swiper-slide {
            display: flex;
            margin-bottom: 3rem;
            height: auto;
            justify-content: center;
            >div {
                width: 100%;
            }
        }
    }
    .swiper-buttons-nav {
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        @media (min-width: $lg){
            width: 1120px;
        }
    }
}

.wrapper-offres {
    .card {
        max-width: 100%;
        flex: 1 1 100%;
        background-color: white;
        color: $bleu-vip;
        &::before {
            content: none;
        }
        @media (min-width:$lg) {
            max-width: 475px;
            flex: 1 1 475px;
        }
        .card__block-image {
            position: relative;
            margin: 0;
            &::before {
                content: none;
            }
            >img {
                position: absolute;
                right: rem(3 * $gutter);
                bottom: 0;
                top: auto;
                max-width: 10rem;
                border: 1px solid $gold;
                z-index: 1;
            }
        }
        .card__block-pano {
            position: relative;
            overflow: hidden;
            margin-bottom: rem(3 * $gutter);
            &::before {
                content: '';
                width: 100%;
                height: 0;
                padding-bottom: calc((267 / 475) * 100%);
                position: relative;
                display: block;
            }
            img {
                position: absolute;
                top: 0;
            }
        }
        .card__block-content {
            margin: 0 rem(3 * $gutter) rem(3 * $gutter);
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 25%;
                right: 0;
                background-image: url(./../2.common/bg-footer-bloc-salon.png);
                background-size: 100% auto;
                background-position: center bottom;
                background-repeat: no-repeat; 
                transform: rotate(180deg); 
            }
            @media (min-width: $md) {
                position: relative;
                &::before {
                    top: rem(-3 * $gutter);
                    bottom: 0;
                    left: rem(-3 * $gutter);
                    right: rem(-3 * $gutter);
                }                                                
             } 
            &,
            .card__body{
                >:first-child {
                    margin-top: 0;
                }
                >:last-child {
                    margin-bottom: 0;
                }
            }
            .card__body {
                padding: 0 0 rem(5 * $gutter);
                margin-bottom: auto;
            }
            .card__items {
                margin-bottom: rem(3 * $gutter);
                .card-item__icon {
                    color: $gold;
                    font-size: 1.825rem;
                    box-sizing: border-box;
                    margin: 0 auto 0.75rem;
                }
                .card-item__title,
                .card-item__description {
                    letter-spacing: -0.05em;
                    line-height: 1;
                }
            }
        }
        .card__tempo {
            font-size: $card-category-fz;
            font-weight: $card-category-fw;
            line-height: 1;
            margin: 0.825rem 0 0;
            display: inline-block;
        }

        .card__title {
            font-size: rem(20px);
            margin-top: 0.25em;
        }

        .card__actions {
            position: relative;
            bottom: auto;
            left: auto;
            transform: none;
        }
    }
    .offres-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        @media (min-width:$md) {
            margin-bottom: auto;
            margin-top: auto;
        }
        .card {
            margin-bottom: rem(3 * $gutter);
            display: flex;
            flex-direction: row;
            &__item {
                font-size: .75rem;
                flex-direction: column;
                flex: 0 1 0;
                display: flex;
                text-align: center;
                max-width: 33.333%;
                min-width: 25%;
                &:last-child:nth-child(2n) {
                    margin-right: auto;
                }
            }
            @media (min-width:$md) {
                flex-direction: column;
            }
            @media (max-width:#{$md - 0.1}) {
                .card__block-image {
                    flex: 1 1 25%;
                    max-width: 25%;
                    margin: 0;
                    .card__block-pano{
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        &::before {
                            content: none;
                        }
                        img {
                            height: 100%;
                            width: auto;
                            max-width: none;
                        }
                    }
                    >img {
                        max-width: 80%;
                        left: calc(10% - 1px);
                        right: calc(10% - 1px);
                        top: 2rem;
                    }
                }
                .card__block-content {
                    margin-top: rem(3 * $gutter);
                    .card__body {
                        padding-bottom: 1.875rem;
                    }
                    .card__items .card-item__icon {
                        font-size: rem(22px);
                    }
                }
                .card__actions {
                    text-align: left;
                }
            }
        }
    }
}
