.modal-button-wrapper {
	display: flex;
	justify-content: space-evenly;
	margin: 2rem 0;
	&.subnav-widget {
		margin: 2rem -10px;
		button {
			flex: 1 1 auto;
		    margin: 0 10px;
		    text-align: left;
			&.btn-has-no-icon{
		    	flex: 0 0 auto;
		    }
		}
	}
	button {
		position: relative;
		font-weight: $fw-normal;
		padding-right: 4rem;
		padding-left: 1.5rem;
		cursor: pointer;
		background-color: rgba(0,0,0,0.25);
		.page-entreprise & {
			border-color: $gold;
		}
		&.btn-has-no-icon{
			padding-right: 1.5rem;
		}
		a {
			color: inherit;
		}
		span {
			position: absolute;
			right: 0;
			height: 100%;
			font-size: 0.6rem;
			top: 0;
			align-items: center;
			display: flex;
			width: 2rem;
			justify-content: center;
			border-left: 1px solid;
			.page-entreprise & {
				color: $gold;
			}
			padding: 0 0.2rem;
		}
	}
	.back-rubbon {
		display: block;
		width: 100vw;
		background-color: rgba(0,0,0,0.7);
		color: white;
		padding: 0.5em;
		position: absolute;
		top: -2.5rem;
		left: -10px;
		right: 10px;
		body[data-context=all] &,
		body:not([data-context]) & {
			display: none;
		}
	}
}
.wrapper-filters {
	margin: 2rem 0 3.5rem;
	.nav-filter,
	.nav-subfilter {
		color: white;
		padding: 0;
		display: flex;
		list-style: none;
		font-size: rem(12px);
		line-height: 1;
		font-weight: $fw-light;
		text-transform: uppercase;
		justify-content: center;
		position: relative;
		li {
			padding: 0.5rem 2rem;
			cursor: pointer;
			z-index: 1;
			&.selected {
				font-weight: $fw-bold;
			}
			a {
				color: white;
			}
		}
		.nav_indicator {
			border: 0px solid white;
			border-radius: 5px;
			position: absolute;
			display: inline-block;
			width: 0px;
			padding: 0;
			background-color: rgba(0,0,0,0.75);
			bottom: 0;
			height: 1.75rem;
			transition-property: left, width;
			transition-duration: 1s, 1s;
			z-index: 0;
		}
	}
	.nav-subfilter {
		margin-top: 2rem;
	}
	.nav-filter {
		&::after {
			content: '';
			width: 60%;
			height: 2px;
			display: block;
			background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
			position: absolute;
			bottom: -1rem;
		}
		&.sub-nav {
			li {
				padding-left: 1rem;
				padding-right: 1rem;
				white-space: nowrap;
			}
			.nav_indicator {
				padding: 0;
				background-color: rgba(0,0,0,0.05);
				.page-entreprise & {
					background-color: rgba(0,0,0,0.25);
				}
			}
		}
	}
}

